In [63]:
import pandas as pd

In [73]:
df = pd.read_csv("data/btc_prices.csv")

In [75]:
df

,Datetime,Close,High,Low,Open,Volume
0,2023-04-27 02:00:00+00:00,29054.978516,29069.574219,28744.066406,28744.066406,0
1,2023-04-27 03:00:00+00:00,28879.662109,29047.890625,28861.431641,29047.890625,74919936
2,2023-04-27 04:00:00+00:00,29134.261719,29138.011719,28891.841797,28894.220703,94691328
3,2023-04-27 05:00:00+00:00,29094.455078,29266.548828,29068.240234,29117.509766,226058240
4,2023-04-27 06:00:00+00:00,28784.933594,29092.501953,28673.474609,29092.091797,106164224
...,...,...,...,...,...,...
17485,2025-04-25 22:00:00+00:00,94912.234375,95016.203125,94680.570312,94680.570312,1380315136
17486,2025-04-25 23:00:00+00:00,94736.796875,95002.570312,94684.015625,94911.984375,0
17487,2025-04-26 00:00:00+00:00,94942.023438,94949.015625,94630.835938,94708.265625,4647776256
17488,2025-04-26 01:00:00+00:00,95058.375000,95251.359375,94831.367188,94945.312500,7425351680
17489,2025-04-26 02:00:00+00:00,95078.468750,95148.843750,94775.851562,95067.570312,3286634496

In [59]:
red = pd.read_csv("data/reddit_posts.csv")

In [71]:
red["time"] = pd.to_datetime(red["time"], unit="s").dt.floor("h")
red

,time,title,score,num_comments
0,2025-04-25 00:00:00,PSA: The Moons Discord is now r/CryptoCurrency...,10,8
1,2025-04-25 00:00:00,"Daily Crypto Discussion - April 25, 2025 (GMT+0)",27,349
2,2025-04-25 14:00:00,"One of the oldest Bitcoin order books, posted ...",222,30
3,2025-04-25 06:00:00,User loses 700k USDT from address poisoning,571,283
4,2025-04-25 09:00:00,US Banks No Longer Have to Notify Crypto Activ...,261,39
...,...,...,...,...
3010,2025-03-26 14:00:00,Advice on TradingView Pricing plan & Connecti...,0,2
3011,2025-03-25 18:00:00,The Creator Economy Stands to Benefit Most fro...,40,10
3012,2025-03-25 16:00:00,Are US-based crypto companies the new winning ...,45,13
3013,2025-03-26 11:00:00,"Daily Discussion Megathread - March 26, 2025 (...",1,0
3014,2025-03-26 11:00:00,Benjamin Graham strategy,1,6